/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    background: #333;
    color: #000;
    padding: 50px;
    flex-wrap: wrap;
    background-color: #fff;
}

.header__logo {
   display: flex;
   margin-top: 10px;
   height: 30px;
}

.header__nav{
    display: flex;
    padding-top: 10px;
}

.header__nav ul {
    align-items: end;
    list-style: none;
    display: flex;
    gap: 80px; /* Espaciado entre los elementos del menú */
}

.header__nav a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}


.header__logohamburguesa{
    display: flex;
    height: 40px;
}


 
/* Footer */
footer {
    text-align: center;
    background-color: red;
    padding: 100px;
}

.footer_logo{
    
}

.footer_p{
    padding: 20px;
}

 /* Hacer que el diseño sea responsivo */
 @media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr 1fr; /* 2 columnas en pantallas más pequeñas */
    }
  }

  @media (max-width: 480px) {
    .container {
      grid-template-columns: 1fr; /* 1 columna en pantallas más pequeñas */
    }
  }