/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    background: #333;
    color: #000;
    padding: 50px;
    flex-wrap: wrap;
    background-color: #fff;
}

.header__logo {
   display: flex;
   margin-top: 10px;
   height: 30px;
}

.header__nav{
    display: flex;
    padding-top: 10px;
}

.header__nav ul {
    align-items: end;
    list-style: none;
    display: flex;
    gap: 80px; /* Espaciado entre los elementos del menú */
}

.header__nav a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}


.header__logohamburguesa{
    display: flex;
    height: 40px;
}

.container {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
  }
  
/* Diseñamos cada caja según el collage */
.container__imagen1 {
grid-column: 1 / 6;
grid-row: 1 / 6;
}

.container__imagen2 {
grid-column: 2 / 6;
grid-row: 1 / 6;
}

.container__imagen3 {
  grid-column: 3 / 6;
  grid-row: 1 / 6;
}

.container__imagen4{
  grid-column: 4 / 6;
  grid-row: 1 / 6;
}

.container__imagen5{
  grid-column: 5 / 6;
  grid-row: 1 / 6;
}

 .container__imagen6{
  grid-column: 1 / 6;
  grid-row: 6 / 6;
}

/* .container__imagen7{
   grid-column: 2 / 6;
   grid-row: 2 / 6;
}

.container__imagen8{
  grid-column: 4 / 6;
  grid-row: 2 / 6;
}

.container__imagen9{
  grid-column: 6 / 6;
  grid-row: 6 / 6;

}

.container__imagen10{
  grid-column: 3/ 6;
  grid-row: 6 / 6;
}


.container__imagen11{
  grid-column: 1 / 7;
  grid-row: 6 / 6;
}


.container__imagen12{
  grid-column: 2/ 7;
  grid-row: 6 / 8;
}

.container__imagen13{
  grid-column: 4 / 7;
  grid-row: 7 / 8;
}


.container__imagen14{
  grid-column: 3 / 7;
  grid-row:  8 / 8;
}


.container__imagen15{
  grid-column: 1 / 7;
  grid-row: 7 / 8;
} */ */



/* Footer */
footer {
    text-align: center;
    background-color: red;
    padding: 100px;
}

.footer_logo{
    
}

.footer_p{
    padding: 20px;
}

 /* Hacer que el diseño sea responsivo */
 @media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr 1fr; /* 2 columnas en pantallas más pequeñas */
    }
  }

  @media (max-width: 480px) {
    .container {
      grid-template-columns: 1fr; /* 1 columna en pantallas más pequeñas */
    }
  }